.checkbox-plain{
  border:2px dotted #00f;
  display:inline-block;
  background:#ff0000;
}

.checkbox-con {
  width: 150px;
  position: absolute;
  left: 150px;
  line-height: 50px;
}

.checkbox-con label{
  background-color: #125699;
}

.container{
  padding: 20px 0 0 0;
}

input {
  display: none;
}

.image-upload-container {
  cursor: pointer;
}

.img-preview-container {
  background-color: #fff;
  position: relative;
}

.img-preview {
  margin: 20px 0;
  background: center center no-repeat;
  background-size: contain;
  height: 116px;
  width: 116px;
}

img-preview-error {
   display: none;
 }

.img-loading-overlay {
  background-color: black;
  bottom: 0;
  left: 0;
  opacity: .2;
  position: absolute;
  right: 0;
  top: 0;
}

.img-spinning-circle {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.img-spinning-circle:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-bwm {
  background-color: #333;
  border-color: #333;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  font-family: sans-serif;
}

.btn-bwm:hover, .btn-bwm:focus, .btn-bwm:active {
  border-color: #333 !important;
  background-color: #333 !important;
}
